<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'domain/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'domain/css/styles.css'%}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <img class="rounded-circle" src="{{student.photo.url}}" alt="Photo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ambience_detail' pk=ambience.id%}">{{ambience}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            IMPRIMER
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'print_choice' ambience_id=ambience.id student_id=student.id%}">Bilan</a></li>
            <li><a class="dropdown-item" href="{% url 'student_case' ambience_id=ambience.id student_id=student.id%}">Dossier</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <div class="mt-10" >
            <div class="student_block">
                <div class="student_menu">
                    <ul>
                        <li>
                        <a href="{% url 'student_detail' ambience_id=ambience.id student_id=student.id %}">Profil</a>
                    </li>
                    <li>
                        <a href="{% url 'practical_life' ambience_id=ambience.id student_id=student.id%}">Vie Pratique</a>
                    </li>
                    <li>
                         <a href="{% url 'sensorial_mat' ambience_id=ambience.id student_id=student.id%}">Materiel Sensoriel</a>
                    </li>
                    <li>
                         <a href="{% url 'mathes' ambience_id=ambience.id student_id=student.id%}">Mathématiques</a>
                     </li>
                    <li>
                         <a href="{% url 'langage' ambience_id=ambience.id student_id=student.id%}">Langage</a>
                     </li>
                    </ul>

                </div>

            <div class="container domain_block mb-2">
             {% block content %}{% endblock content %}
            </div>

        </div>
            </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>