{% extends "domain/base.html" %}

{% block title %}{{student}}-VIE PRATIQUE{% endblock %}

{% block content %}


    <div >
        <h2>VIE PRATIQUE {{ pls.start_date}} </h2>
        <p>{{ message}}</p>
        <form method='post'> {% csrf_token %}
            <table class="table table-bordered">
            {{form.as_table}}
            </table>
            {% if request.user == ambience.user %}
                <button class="btn btn-outline-dark" type='submit' >Enregistrer</button>
            {% endif %}
        </form>
    </div>


{% endblock content %}