{% extends "ambience/base.html" %}

{% block title %}{{ambience}}{% endblock %}

{% block content %}
<div class="">

    <div class="box-ambience box-ambience p-2 border border-success rounded">
        {% for student in students %}
             <div class="student_box">
                <div>
                    <a >
                     <img class="rounded-circle p-2 w-45 h-45" src="{{student.photo.url}}" alt="">
                    </a>
                </div>
                <div class="pl-2">
                    {{student}}
                </div>
             </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}