{% extends "ambience/base.html" %}

{% block title %}Ambiances{% endblock %}

{% block content %}
<div class="">
    <div class="block-ambience">
        <a class="btn btn-outline-dark" href="{% url 'add_ambience' %}">Ajouter une ambiance</a>
    </div>
    <div class="box-ambience mt-5 border border-success rounded">
        {% for ambience in ambiences %}
            <div class="item-ambience ">
                <a href="{% url 'ambience_detail' id=ambience.id%}">{{ambience}}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}