{% extends "ambience/base.html" %}

{% block title %}Ambiances{% endblock %}

{% block content %}
<div class="">
    <div class="block-ambience">
        {{ambience}}
         <ul class="menu_inscription">
                <li class="btn btn-outline-dark"><a href="{% url 'add_student' pk=ambience.id%}">Inscription</a></li>
                <li class="btn btn-outline-dark"><a href="{% url 'student_list' ambience_id=ambience.id%}">Réinscription</a></li>
         </ul>

    </div>
    <div class="box-ambience p-2 border border-success rounded">
        {% for student in students %}
            <div class="student_box">
                <div>
                     <a href="{% url 'practical_life' ambience_id=ambience.id student_id=student.id%}">
                     <img class="rounded-circle p-2 w-45 h-45" src="{{student.photo.url}}" alt="">
                    </a>
                    <div class="pl-2">
                        {{student}}
                    </div>
                </div>

            </div>
        {% endfor%}
    </div>

</div>

{% endblock content %}