<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'ambience/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ambience/css/styles.css'%}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <img src="{% static 'ambience/images/logo.png' %}" alt="LOGO" width="200" >
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'user_profil' %}">{{user}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'ambience' %}">Ambiances</a>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'student_all' %}">Enfants</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
                    </li>

                  </ul>

            </div>
          </div>
        </nav>
        <h2 class="text-center mt-2">SUIVI DES APPRENTISSAGES</h2>

        <div class="container mb-2">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>