{% extends "ambience/base.html" %}

{% block title %}{{ ambience }}{% endblock %}

{% block content %}
<div>
        <h3>Ambiance</h3>
        <p>{{ message}}</p>
        <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if request.user == ambience.user %}
                        <button class="btn btn-outline-dark" type='submit' >Enregistré les modifications</button>
                {% endif %}
        </form>

        <div>
            <a href="{% url 'ambience_detail' pk=ambience.id%}">Retour</a>
        </div>
    </div>

{% endblock content %}