<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'authentication/css/styles.css'%}">
    </head>
    <body>
            <header class="container ">
                    <img src="{% static 'authentication/logo.png'%}" alt="LOGO" width="200" >
                     <h1>SUIVI DES APPRENTISSAGES</h1>
            </header>
            <div class="container p-2 border border-success rounded block-contain">
                {% block content %}{% endblock content %}
            </div>
    </body>
</html>