{% extends "ambience/base.html" %}
{% block title %}{{ user }} | mot de passe{% endblock %}
{% block content %}
        <div class="p-5 text-center">
            <h2>Modification de mot de passe</h2>
        </div>
         <a  href="javascript:history.back()">Retour</a>
        <div class="mt-5">
            {% if form.errors %}
                    {{form.errors }}
            {% endif %}
            <form action="" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Enregistré les modifications</button>
            </form>

        </div>


{% endblock content %}