{% extends "authentication/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <a class="btn btn-outline-dark" href="{% url 'signup'%}">S'enregistrer</a>
    </div>
    <div class="col">
        <p>{{ message}}</p>
        <form method='post'> {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type='submit' >Se connecter</button>
        </form>
    </div>
</div>

{% endblock content %}