{% extends "authentication/base.html" %}
{% block title %}Enregistrement{% endblock %}
{% block content %}
    <div class="row">
         <div class="col-2">
            <a class="btn btn-outline-dark" href="{% url 'login'%}">Retour</a>
        </div>
        <div class="col-8">
            {% if form.errors %}
                    {{form.errors }}
            {% endif %}
            <form method='post'>{% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type="submit">S'enregistrer</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock content %}