.student_block {
    display: flex-column;


}



.student_menu {
  position: fixed;
  left: 0;
  width: 200px;
  margin-top: 0px;
  background: white;
  padding: 2px;
}


.student_menu li {
    list-style-type: none;
}

.student_image{
    padding: 10px;

}

.domain_block {
    z-index: 10;
    width: 900px;

}

@media screen and (max-width: 992px) {
  .domain_block {
    width: 500px;
  }
}

